header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 2.5rem 2rem;
   
    color: white;   
    width: 100%;
    margin: 0 auto;
    height: 4rem;
    background: linear-gradient(to bottom, #595959, #9f9f9f7f);
     
}


h1 {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(90deg,#9bffb0, #20fcf9);
  
    /* background: linear-gradient(90deg,var(--accent-green),var(--accent-blue)); */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.profile span, button {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    font-weight: 400;
}

.profile button {
  /* BOTTONE LOGOUT */
    margin-left: 15px;
        transition: color 0.3s ease;
        border-radius: 15px;
        background-color: #424242;
        border-color: #e3e3e3;
        

      &:hover {
        background-color: #7dcbb5; 
        

      }
    
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: #3f3f3f; */
}


.avatar {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  object-fit: cover; /* l'immagine riempia bene il contenitore */
  margin-left: 15px; 
  border: 2px solid white; /* bordo bianco */
}